html {
	margin: 0;
	padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
}

.element-navbar {
      display: inline-block;
    margin-top: 16px;
     margin-left: 60%;
}

.row_1 {
    display: inline-flex;
}

#grid {
    background-color: navy;
}

#col_y {
    display: inline-flex;
}

span {
	background-color: white;
    border: 4px solid black;
    border-radius: 100%;
    height:100Px; 
    width:125Px;
    margin-left: 3%;
}

span:hover {
	transition: 1s;
	transform: rotate(180deg);
	background-color: grey;

}